<h1 class="title-msg">International Cheetah Day</h1>

<div class="form-group" id="text-1">
  <p>The world's fastest land animal is racing against extinction. <br>
    Help us win the race!
  </p>
</div>
