@import 'bootstrap';

body {
	padding-top: 35px;
	background-color: #fcfcfc;
	font-family: 'Droid Sans', sans-serif;
}

.title-msg {
	text-align: center;
	font-family: 'Gloria Hallelujah', cursive;
}

#text-1 {
	padding-left: 35px;
}
